pipeline/Until Demo2.json
{
	"name": "Until Demo2",
	"properties": {
		"activities": [
			{
				"name": "Until file exist",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('FileExist')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata Country",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_DelimitedText_Blob_Country",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition file exist",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata Country",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata Country').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait 30 seconds",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 30
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable File Exist true",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileExist",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"FileExist": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "Seccion 6"
		},
		"annotations": []
	}
}