adfdl/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdl"
		},
		"LSAzureBlobStorageConnection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LSAzureBlobStorageConnection'"
		},
		"LSAzureDataLakeStorageConnection_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LSAzureDataLakeStorageConnection'"
		},
		"LSAzureSqlDatabase_connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LSAzureSqlDatabase_connection'"
		},
		"LS_AzureBlobStorageDemo_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_AzureBlobStorageDemo'"
		},
		"LS_BlobStorage_PJA_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BlobStorage_PJA'"
		},
		"LSAzureDataLakeStorageConnection_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageadfdl.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Demo Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "es el tutorial",
				"activities": [
					{
						"name": "Wait",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "Section 5"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wait')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait Demo",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					}
				],
				"folder": {
					"name": "Section 5"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSAzureBlobStorageConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LSAzureBlobStorageConnection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSAzureDataLakeStorageConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LSAzureDataLakeStorageConnection_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LSAzureDataLakeStorageConnection_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSAzureSqlDatabase_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LSAzureSqlDatabase_connection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureBlobStorageDemo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_AzureBlobStorageDemo_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BlobStorage_PJA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BlobStorage_PJA_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSAzureSqlTableCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSAzureSqlDatabase_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NameStyle",
						"type": "bit"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "Suffix",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesPerson",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "PasswordHash",
						"type": "varchar"
					},
					{
						"name": "PasswordSalt",
						"type": "varchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSAzureSqlDatabase_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSDelimitedTextDL_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSAzureDataLakeStorageConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSAzureDataLakeStorageConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DelimitedText_Blob_Country')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSAzureBlobStorageConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Country.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Rank",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSAzureBlobStorageConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DelimitedText_Blob_Custemer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSAzureBlobStorageConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SalesLT.Customer.txt",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSAzureBlobStorageConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DelimitedText_TM_OTS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage_PJA",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_PJA"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "tm_ots.csv",
						"container": "pja"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "tm_ots_id;id_emp;mand;id_ot;ancho;cantidad;cantidad_prevista;cantidad_real;cantidad_rprev;consum_stk;dta_ult_op;duracion;estado;factor_impl;fase;fcic;fecha_entrega;finished_at;started_at;genera_stk;grup_impl;id_almacen;id_art;id_incid;id_lote;id_of;maq_prevista;medidas;metros;modo_impl;no_expor;num_ops;ops_previsto;opsp_previsto;ord;rend_empl;rend_maq;rend_oper;rend_ot;rend_prep;ritmo;ritmo_real;sid;tarjeta;tiempo;tiempo_previsto;tiempo_real;tintas;type;tprep;tprep_previsto;txst;empl_previsto;id_emple;initial_latitude;initial_longitude;final_longitude;final_latitude;id_puesto;id_cat;id_sec;duracion_sec;segundos;minutos;horas;dias;id_tipo_material;tipo_material;initial_keydata;keyidart;nnoo1;nnoo2;nnoo3;nnoo4;nnoo5;nnoo6;zva0_10;zva1_10;zva2_10;zvc0_10;zvc1_10;zvc2_10;zvc3_10;zvc4_10;zvd0_10;zvd1_10;zvd2_10;zvd3_10;zvd4_10;zvd5_10;zvd6_10;nnoo19;nnoo20;nnoo21;nnoo22;nnoo23;nnoo24;nnoo25;nnoo26;nnoo27;nnoo28;nnoo29;nnoo34;nnoo35;nnoo36;nnoo37;nnoo38;nnoo39;nnoo40;nnoo41;nnoo42;nnoo43;nnoo44;nnoo45;nnoo46;nnoo47;nnoo48;nnoo49;nnoo50;nnoo51;nnoo52;nnoo53;nnoo54;nnoo55;nnoo56;nnoo57;nnoo58;nnoo59;nnoo60;nnoo61;nnoo64;nnoo67;nnoo68;usuario;crtim;ultimo_mov;fecha;id_motivo_desprog;nextout;nextoutinicio;dta_upd_est;nextoutkm;id_sec_of;anulada;description;belt;var1;var2;final_keydata;id_ot_internal;tm_incid_maquina_id;mant_type_planned;mant_type;tasks;id_cliente;priority;tm_empleados_id;read;id_cent_ot;id_cliente_var;ot_erp;punctuality;punctuality_margin;punctuality_margin_sec;empty_km;load_quantity;net_duration_sec;nnoo30;nnoo31;nnoo32;nnoo33;nnoo69;nnoo7;nnoo71;nnoo75;nnoo76;nnoo8;nnoo80;nnoo82;nnoo84;nnoo9;updatable;zva3_10;zva4_10;zva5_10;created_at;updated_at;created_by;id_cliente_bien;tm_clientes_id;distance;calc_mode;tm_materiales_id;simulation;related_tm_ots_id;confirmed_at;confirmed_by;tm_maquinas_id;keycliente;tm_empresas_id;tm_categoria_id;tm_secciones_id;motivos_desprog;id_anulacio",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorage_PJA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_inputAzureDelimitedText')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorageDemo",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Country.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Rank",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureBlobStorageDemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSSqlTableTM_ots')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSAzureSqlDatabase_connection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_PJA"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tm_ots_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "id_emp",
						"type": "varchar"
					},
					{
						"name": "mand",
						"type": "varchar"
					},
					{
						"name": "id_ot",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ancho",
						"type": "varchar"
					},
					{
						"name": "cantidad",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cantidad_prevista",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cantidad_real",
						"type": "float",
						"precision": 15
					},
					{
						"name": "cantidad_rprev",
						"type": "float",
						"precision": 15
					},
					{
						"name": "consum_stk",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "dta_ult_op",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "duracion",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "factor_impl",
						"type": "float",
						"precision": 15
					},
					{
						"name": "fase",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "fcic",
						"type": "float",
						"precision": 15
					},
					{
						"name": "fecha_entrega",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "finished_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "started_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "genera_stk",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "grup_impl",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "id_almacen",
						"type": "varchar"
					},
					{
						"name": "id_art",
						"type": "varchar"
					},
					{
						"name": "id_incid",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "id_lote",
						"type": "varchar"
					},
					{
						"name": "id_of",
						"type": "int",
						"precision": 10
					},
					{
						"name": "maq_prevista",
						"type": "varchar"
					},
					{
						"name": "medidas",
						"type": "varchar"
					},
					{
						"name": "metros",
						"type": "float",
						"precision": 15
					},
					{
						"name": "modo_impl",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "no_expor",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "num_ops",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ops_previsto",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "opsp_previsto",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ord",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "rend_empl",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rend_maq",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rend_oper",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rend_ot",
						"type": "float",
						"precision": 15
					},
					{
						"name": "rend_prep",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ritmo",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ritmo_real",
						"type": "float",
						"precision": 15
					},
					{
						"name": "sid",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "tarjeta",
						"type": "varchar"
					},
					{
						"name": "tiempo",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tiempo_previsto",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tiempo_real",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tintas",
						"type": "varchar"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "tprep",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tprep_previsto",
						"type": "float",
						"precision": 15
					},
					{
						"name": "txst",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "empl_previsto",
						"type": "varchar"
					},
					{
						"name": "id_emple",
						"type": "varchar"
					},
					{
						"name": "initial_latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "initial_longitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "final_longitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "final_latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "id_puesto",
						"type": "varchar"
					},
					{
						"name": "id_cat",
						"type": "varchar"
					},
					{
						"name": "id_sec",
						"type": "varchar"
					},
					{
						"name": "duracion_sec",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "segundos",
						"type": "int",
						"precision": 10
					},
					{
						"name": "minutos",
						"type": "int",
						"precision": 10
					},
					{
						"name": "horas",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_tipo_material",
						"type": "varchar"
					},
					{
						"name": "tipo_material",
						"type": "varchar"
					},
					{
						"name": "initial_keydata",
						"type": "int",
						"precision": 10
					},
					{
						"name": "keyidart",
						"type": "varchar"
					},
					{
						"name": "nnoo1",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo2",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo3",
						"type": "varchar"
					},
					{
						"name": "nnoo4",
						"type": "varchar"
					},
					{
						"name": "nnoo5",
						"type": "varchar"
					},
					{
						"name": "nnoo6",
						"type": "varchar"
					},
					{
						"name": "zva0_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zva1_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zva2_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvc0_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvc1_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvc2_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvc3_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvc4_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvd0_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvd1_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvd2_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvd3_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvd4_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvd5_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zvd6_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo19",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo20",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo21",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo22",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo23",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo24",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo25",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo26",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo27",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo28",
						"type": "varchar"
					},
					{
						"name": "nnoo29",
						"type": "varchar"
					},
					{
						"name": "nnoo34",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo35",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo36",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo37",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo38",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo39",
						"type": "varchar"
					},
					{
						"name": "nnoo40",
						"type": "varchar"
					},
					{
						"name": "nnoo41",
						"type": "varchar"
					},
					{
						"name": "nnoo42",
						"type": "varchar"
					},
					{
						"name": "nnoo43",
						"type": "varchar"
					},
					{
						"name": "nnoo44",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo45",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo46",
						"type": "varchar"
					},
					{
						"name": "nnoo47",
						"type": "varchar"
					},
					{
						"name": "nnoo48",
						"type": "varchar"
					},
					{
						"name": "nnoo49",
						"type": "varchar"
					},
					{
						"name": "nnoo50",
						"type": "varchar"
					},
					{
						"name": "nnoo51",
						"type": "varchar"
					},
					{
						"name": "nnoo52",
						"type": "varchar"
					},
					{
						"name": "nnoo53",
						"type": "varchar"
					},
					{
						"name": "nnoo54",
						"type": "varchar"
					},
					{
						"name": "nnoo55",
						"type": "varchar"
					},
					{
						"name": "nnoo56",
						"type": "varchar"
					},
					{
						"name": "nnoo57",
						"type": "varchar"
					},
					{
						"name": "nnoo58",
						"type": "varchar"
					},
					{
						"name": "nnoo59",
						"type": "varchar"
					},
					{
						"name": "nnoo60",
						"type": "varchar"
					},
					{
						"name": "nnoo61",
						"type": "varchar"
					},
					{
						"name": "nnoo64",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "nnoo67",
						"type": "varchar"
					},
					{
						"name": "nnoo68",
						"type": "varchar"
					},
					{
						"name": "usuario",
						"type": "varchar"
					},
					{
						"name": "crtim",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ultimo_mov",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "fecha",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "id_motivo_desprog",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nextout",
						"type": "varchar"
					},
					{
						"name": "nextoutinicio",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "dta_upd_est",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "nextoutkm",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "id_sec_of",
						"type": "varchar"
					},
					{
						"name": "anulada",
						"type": "varchar"
					},
					{
						"name": "description",
						"type": "varchar"
					},
					{
						"name": "belt",
						"type": "varchar"
					},
					{
						"name": "var1",
						"type": "varchar"
					},
					{
						"name": "var2",
						"type": "varchar"
					},
					{
						"name": "final_keydata",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_ot_internal",
						"type": "varchar"
					},
					{
						"name": "tm_incid_maquina_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "mant_type_planned",
						"type": "varchar"
					},
					{
						"name": "mant_type",
						"type": "varchar"
					},
					{
						"name": "tasks",
						"type": "varchar"
					},
					{
						"name": "id_cliente",
						"type": "varchar"
					},
					{
						"name": "priority",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tm_empleados_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "read1",
						"type": "bit"
					},
					{
						"name": "id_cent_ot",
						"type": "varchar"
					},
					{
						"name": "id_cliente_var",
						"type": "varchar"
					},
					{
						"name": "ot_erp",
						"type": "varchar"
					},
					{
						"name": "punctuality",
						"type": "bit"
					},
					{
						"name": "punctuality_margin",
						"type": "varchar"
					},
					{
						"name": "punctuality_margin_sec",
						"type": "int",
						"precision": 10
					},
					{
						"name": "empty_km",
						"type": "decimal",
						"precision": 30,
						"scale": 8
					},
					{
						"name": "load_quantity",
						"type": "decimal",
						"precision": 30,
						"scale": 8
					},
					{
						"name": "net_duration_sec",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nnoo30",
						"type": "varchar"
					},
					{
						"name": "nnoo31",
						"type": "varchar"
					},
					{
						"name": "nnoo32",
						"type": "varchar"
					},
					{
						"name": "nnoo33",
						"type": "varchar"
					},
					{
						"name": "nnoo69",
						"type": "varchar"
					},
					{
						"name": "nnoo7",
						"type": "varchar"
					},
					{
						"name": "nnoo71",
						"type": "varchar"
					},
					{
						"name": "nnoo75",
						"type": "varchar"
					},
					{
						"name": "nnoo76",
						"type": "varchar"
					},
					{
						"name": "nnoo8",
						"type": "varchar"
					},
					{
						"name": "nnoo80",
						"type": "varchar"
					},
					{
						"name": "nnoo82",
						"type": "varchar"
					},
					{
						"name": "nnoo84",
						"type": "varchar"
					},
					{
						"name": "nnoo9",
						"type": "varchar"
					},
					{
						"name": "updatable",
						"type": "int",
						"precision": 10
					},
					{
						"name": "zva3_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zva4_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "zva5_10",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "created_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "updated_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "created_by",
						"type": "varchar"
					},
					{
						"name": "id_cliente_bien",
						"type": "varchar"
					},
					{
						"name": "tm_clientes_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "distance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "calc_mode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tm_materiales_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "simulation",
						"type": "bit"
					},
					{
						"name": "related_tm_ots_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "confirmed_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "confirmed_by",
						"type": "varchar"
					},
					{
						"name": "tm_maquinas_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "keycliente",
						"type": "varchar"
					},
					{
						"name": "tm_empresas_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "tm_categoria_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "tm_secciones_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "motivos_desprog",
						"type": "varchar"
					},
					{
						"name": "id_anulacio",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tm_ots"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSAzureSqlDatabase_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Activity data from sql to blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CustomerID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "NameStyle",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NameStyle",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MiddleName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MiddleName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Suffix",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Suffix",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompanyName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CompanyName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SalesPerson",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SalesPerson",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmailAddress",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EmailAddress",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PasswordHash",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PasswordHash",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PasswordSalt",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PasswordSalt",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "rowguid",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "rowguid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ModifiedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedDate",
											"type": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DSAzureSqlTableCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DSDelimitedTextDL_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data from blob to data lake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Activity data from sql to blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DelimitedText_Blob_Custemer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DSDelimitedTextDL_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Section 5"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSAzureSqlTableCustomer')]",
				"[concat(variables('factoryId'), '/datasets/DSDelimitedTextDL_Customer')]",
				"[concat(variables('factoryId'), '/datasets/DS_DelimitedText_Blob_Custemer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ForEach Demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Customer Data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[salesYear]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DSAzureSqlTableCustomer",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"folder": {
					"name": "Section 5"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSAzureSqlTableCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get Metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata of Country CSV",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_DelimitedText_Blob_Country",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"folder": {
					"name": "Section 5"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_DelimitedText_Blob_Country')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lookup Demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Customer Data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT  [CustomerID]\n      ,[NameStyle]\n      ,[Title]\n      ,[FirstName]\n\n  FROM [SalesLT].[Customer]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DSAzureSqlTableCustomer",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"folder": {
					"name": "Section 5"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSAzureSqlTableCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pline_Delete_Demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete Country csv",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_DelimitedText_Blob_Country",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					}
				],
				"folder": {
					"name": "Section 10"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_DelimitedText_Blob_Country')]"
			]
		}
	]
}